{# home/templates/home.html #}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %} {{SITE_NAME}} {% endblock title %}</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
{% block body %}
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}"> {{SITE_NAME}}</a>
      </div>
    </div>
  </nav>
{% endblock body %}
</body>
</html>
