{# members/templates/login.html #}

{% extends 'content.html' %}

{% block title %} 會員登入 | {{ block.super }} {% endblock title %}

{% block content %}

{% if msg %}
<div class="alert alert-danger">
    {{ msg }}
</div>
{% endif %}

<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <label for="username">使用者帳號：</label>
    <input type="text" name="username" id="username"> <br/>
    <label for="password">使用者密碼：</label>
    <input type="password" name="password" id="password"> <br/>
    <button type="submit" class="btn btn-primary">登入</button>
</form>

{% endblock content %}
